<header
  class="wrapper bg-gradient-to-r from-black to-blue-900 text-white py-4 relative"
>
  <!-- Navigation -->
  <nav class="navbar flex items-center justify-between px-4">
    <!-- Navigation Links -->
    <div class="flex items-center space-x-4">
      <a
        *ngIf="!isOnUserInputPage()"
        routerLink="user-input"
        routerLinkActive="active"
        class="nav-link text-white px-4 py-2 rounded-lg bg-gray-800 hover:bg-gray-400 transition duration-300"
        >Add Workout</a
      >

      <a
        *ngIf="!isOnUserListPage()"
        routerLink="user-list"
        routerLinkActive="active"
        class="nav-link text-white px-4 py-2 rounded-lg bg-gray-800 hover:bg-gray-400 transition duration-300"
        >Show List</a
      >

      <a
        *ngIf="!isOnWorkoutProgressPage()"
        routerLink="workout-progress"
        routerLinkActive="active"
        class="nav-link text-white px-4 py-2 rounded-lg bg-gray-800 hover:bg-gray-400 transition duration-300"
        >Workout Chart</a
      >
    </div>

    <!-- Logo -->
    <img src="assets/images/logo.png" alt="Logo image" class="logo h-20" />

    <!-- Heading -->
    <h1 class="heading text-xl font-bold">Fitness Tracker</h1>
  </nav>

  <!-- Bottom Line -->
  <div class="absolute inset-x-0 bottom-0 h-1 bg-gray-300"></div>
</header>
