.wrapper {
  background-color: rgb(23, 29, 29);
  background-image: linear-gradient(135deg, rgb(23, 29, 29), rgb(0, 0, 128));
  color: #fff; /* Text color for contrast */
  padding: 20px;
  width: 100%;
  height: 80px;
  border-top: 1px solid var(--border-color);
}
